{% extends "MagiceUserBundle::layout.html.twig" %}

{% block mg_user_content %}

    <form action="{{ path('mg_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST">
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'resetting.reset.submit'|trans }}"/>
        </div>
    </form>

{% endblock mg_user_content %}
