{% set page = "mg-user-resetting-requested" %}
{% extends "MagiceWebBundle:Frontend:layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="ui basic segment">

            <div class="ui header huge">{{ "_mg.user.resetting.requested.header"|trans }}</div>

            <div class="ui raised stacked segment">
                <div class="ui warning message">
                    {{ '_mg.user.resetting.requested.message'|trans }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}